@import url("cargo-titulo.css");
@import url("cargo-descricao.css");

.cargo {
    border: 1px solid var(--cinza-claro);
    border-radius: 16px;
    margin: 1em auto;
    text-align: left;
    padding: 2em 0.5em;
}