@import url("assets/css/cabecalho/cabecalho.css");
@import url("assets/css/sobre-nos/sobre-nos.css");

:root {
    --azul-escuro: #101828;
    --branco: #FFFFFF;
    --cinza: #667085;
    --fonte-principal: 'Inter';
    --vermelho-vinho: #8E2424;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}